appdirs
attrs
Automat
autopep8
backcall
bleach
cached-property
certifi
cffi
chardet
colorclass
colorzero
constantly
cryptography
cssselect
cycler
Cython
decorator
defusedxml
docopt
entrypoints
gpiozero
hyperlink
idna
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
linux-metrics
lxml
MarkupSafe
matplotlib
mistune
more-itertools
mpld3
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parsel
parso
pexpect
pickleshare
pigpio
pip-upgrader
pluggy
prometheus-client
prompt-toolkit
Protego
ptyprocess
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
Pygments
PyHamcrest
pyOpenSSL
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
QtPy
queuelib
requests
requests-toolbelt
Scrapy
Send2Trash
service-identity
six
terminado
terminaltables
testpath
tornado
traitlets
Twisted
urllib3
w3lib
watermark
wcwidth
webencodings
widgetsnbextension
zeep
zope.interface
